/* Estilos para el carrito vacio */
.carrito-container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    align-items: start; 
    padding: 20px;
}

.carrito {
    text-align: center;
    margin: 0;
}

.cart {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    text-align: center;;
}

.cart-h2 {
    font-size: 24px;
}

.cart-p {
    font-size: 16px;
    margin-bottom: 20px;
}

.btn {
    background-color: $color-primario;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 28px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: $color-primariohover;
}

.imgcobro img {
    max-width: 80%;
    height: auto;
}

/* Estilos para las opciones de moneda */
.flag-icon {
    max-width: 30px;
    vertical-align: middle;
    margin-right: 10px;
}

.currency-option {
    margin-bottom: 10px;
    list-style-type: none;
}

.currency-wrapper {
    display: flex;
    align-items: center;
}

.currency-option input[type="radio"]:checked + label {
    border: 2px solid $color-primario;
    border-radius: 5px;
    padding: 5px;
}

.currency-selector form input[type="radio"] {
    display: none;
}