/* Estilos para la sección de contacto */
.section-title {
    text-align: center;
    margin-bottom: 20px;
    h1 {
    font-size: 24px;
    margin: 0;
}
h2 {
    font-size: 20px;
    margin: 10px 0;
}
p {
    font-size: 16px;
    color: #000000;
}
}

/* Estilos para la información de contacto */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.contact-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    flex: 1;
    margin-left: 40px;
    margin-bottom: 20px;
    min-height: 683px;
    i {
    font-size: 24px;
    margin-bottom: 10px;
}
h4 {
    font-size: 18px;
    margin: 0;
}
p {
    font-size: 22px;
    color: #555;
}
iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 5px;
}
}

/* Estilos para el formulario de contacto */
.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    flex: 1;
    width: 100%;
    max-width: 600px;
}

.form-group {
    margin-bottom: 20px;
    label {
    font-size: 16px;
}
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

textarea {
    resize: none;
}

