/* Estilos para CURSOS */
.card-footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: #ff0000;
}

span.position-absolute {
    font-size: 20px; 
}

/* Estilos para cierre cursos*/
.contenedor-modalidad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    gap: 20px; 
    background-color: $color-primario;
    padding: 40px;
}

.subtitulo-p {
    display: flex;
    flex-direction: column;
}

.subtitulo {
    font-weight: bold;
}

.card-body1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 200px; 
    padding: 10px;
}