/* Estilos para CURSOS */
.card-footer {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.price {
    font-weight: bold;
    font-size: 20px;
    color: #ff0000;
}

span.position-absolute {
    font-size: 20px; 
}

/* Estilos para cierre cursos*/
.modalidad-section {
    text-align: center;
    background-color: $color-primario;
    padding: 20px;
}

.contenedor-modalidad {
    display: flex;
    justify-content: space-between;
}

.tarjeta {
    flex: 1;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.466);
    background-color: white;
    margin: 10px;
}

.subtitulo {
    font-weight: bold;
}

.icono-circulo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: $color-secundariohover; /* Color del círculo de fondo */
    border-radius: 50%; /* Hace que el fondo sea un círculo */
    margin: 0 auto 20px auto;
}

.icono-circulo i {
    font-size: 24px;
    color: #fff; /* Color del icono */
}

.titlemodalidad{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-body1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 188.5px; 
    padding: 10px;
}