/* Reglas de estilo imagen main index*/
#imagen-container img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.212);
}

/* Reglas de estilo para el main del index*/
h3.centrado1 {
    background-color: #c39e9e;
    margin: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
}

.imagen-con-texto-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}

.imagen-con-texto {
    max-width: 400px;
    margin: 20px;
    position: relative;
    img {
    display: block;
    width: 100%;
    height: auto;
}
}

.texto-boton {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: translateY(-50%);
    h2 {
    font-size: 40px;
}
    h2,
    p {
    margin: 0;
}
}

.boton {
    margin-top: 10px;
    background-color: #c39e9e;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    border-radius: 10px;
}

.boton:hover {
    background-color: #946f6f;
}


/* Reglas de estilo para el cierre del index*/
.text-contacto {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    p {
    font-size: 20px;
    margin-bottom: 20px;
}
}

.boton-contacto {
    display: inline-block;
    padding: 10px 20px;
    background-color: #c39e9e;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out;
}

.boton-contacto:hover {
    background-color: #946f6f;
}