/* Estilos para el inicio sesion*/
.login-container {
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.login-form {
    padding: 20px;
    background-color: $color-primario;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.login-image img {
    max-width: 400px;
    height: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.904)
}

.btn-success {
    font-size: 15px;
    background-color: $color-secundario; 
    border-color: $color-secundario; 
    color: black; 
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
}

.btn-success:hover {
    background-color: $color-secundariohover; 
    border-color: $color-secundariohover; 
    color: #fff;
}
