.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto; 
    gap: 10px;
}

.gallery-item {
    position: relative;
}

.gallery-item img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    width: 100%;
    height: 100%;
}

.vertical-image {
    grid-column: 3; 
    grid-row: span 2; 
    max-width: 100%;
}

.h3galeria {
    background-color: $color-primario;
    padding: 15px;
    font-size: 30px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}