/* Estilos para card cursos y recursos */
.card {
    max-width: 450px; 
    width: 100%;
}

.card-body {
    padding: 10px; 
}

.card-title {
    font-size: 20px; 
}

.card-text {
    font-size: 15px; 
}

.btn {
    font-size: 12px; 
}

/* Estilos para el modal recursos */
.modal-content {
    background-color: #608e99;
}

/* Estilos para carrusel recursos*/
#carouselExampleIndicators {
    margin-top: 30px;
    margin-bottom: 30px;
}