/* Estilos para servicios */
.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-hover p {
    margin: 30px; 
}

.service-content h2 {
    text-align: center; 
    font-weight: bold;
}

.service {
    width: calc(33.33% - 20px);
    padding-top: calc(33.33% - 20px);
    background-color: $color-secundario;
    margin: 10px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.service-content,
.service-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.service-hover {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.service:hover .service-content {
    opacity: 0;
}

.service:hover .service-hover {
    opacity: 1;
}

/* Estilos para proceso de trabajo servicios */
.custom-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.custom-column {
    flex: 1;
}

.custom-paragraph {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.custom-text {
    text-align: justify;
}

.custom-heading{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: $color-primario;
    padding: 15px;
    font-weight: bold;
}
