/* Reglas de estilo para el footer*/
footer {
    background-color: $color-primario;
    color: black; 
    padding: 20px; 
    margin-top: 30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text-content {
    flex: 1;
    padding-right: 20px;
    p {
    margin: 0;
}
}


.social-icons {
    display: flex;
    gap: 10px;
    a {
    text-decoration: none;
    color: #000; 
    font-size: 40px;
}
}